input[type=text],[type=E-mail],[type=phone]{
  width: 25%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
	width: 25%;
	padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color:#181818;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 20px;
  background-color: #FDDDE6;
  padding: 100px;
  text-align: center;
}

